    .instruction div{color: #0000FF; background-color: #FEFE8A; font-weight: bold; }
    .instruction input{color: #0000FF; background-color: #FEFE8A; font-weight: bold; }
    .instruction tr{color: #0000FF; background-color: #FEFE8A; font-weight: bold; }
    .instruction select{color: #0000FF; background-color: #FEFE8A; font-weight: bold; }
    .instruction textarea{color: #0000FF; background-color: #FEFE8A; font-weight: bold; }
    .instruction td input{color: #0000FF; background-color: #FEFE8A; font-weight: bold; }


    table.tablesorter { width:auto; cursor:pointer; }

    .input_02{width: 248px;}
    .tools.ui-state-highlight.ui-corner-all.lang{ height: 150px; background-color: lightyellow;}
    #head01           { position: absolute; top: 150px; left: 20px }
    #ordernumber      { position: absolute; top: 150px; left: 185px; }
    #head03           { position: absolute; top: 150px; left: 500px; }
    #name             { position: absolute; top: 150px; left: 650px; }
    #head05           { position: absolute; top: 180px; left: 20px; }
    #finish_time      { position: absolute; top: 180px; left: 185px; }
    #head07           { position: absolute; top: 180px; left: 500px; }
    #milage           { position: absolute; top: 180px; left: 650px; }
    #head09           { position: absolute; top: 210px; left: 20px; }
    #employee         { position: absolute; top: 210px; left: 185px; }
    #head11           { position: absolute; top: 270px; left: 20px; }
    #mtime           { position: absolute; top: 270px; left: 185px; }
    #head13           { position: absolute; top: 210px; left: 500px; }
    #car_status       { position: absolute; top: 210px; left: 650px; }
    #head15           { position: absolute; top: 240px; left: 20px; }
    #date             { position: absolute; top: 240px; left: 185px; }
    #head17           { position: absolute; top: 240px; left: 500px; }
    #orderstatus      { position: absolute; top: 240px; left: 650px; }
    #labellicenseplate{ position: absolute; top: 270px; left: 500px; }
    #licenseplate     { position: absolute; top: 270px; left: 650px;  100px; background: none; border-style: none; pointer-events: none;}
    #netto            { position: absolute; left: 1030px; text-align: right; }
    #orderTotalNetto  { position: absolute; left: 1133px; width: 100px; text-align: right; }
    #brutto           { position: absolute; left: 1030px; text-align: right; }
    #orderTotalBrutto { position: absolute; left: 1133px; width: 100px; text-align: right; }
    #sellprice_header_id{max-width: 5px;}
    #all_mechanics     {position: absolute; left: 1450px; text-align: right;}
    #all_status     {position: absolute; left: 1700px; text-align: right;}

    label{font-size: 14px;}
    div p{font-size: 16px;}
    p label{font-size: 14px; font-weight: bold;}
    p label.val{font-size: 14px; font-weight: normal;}

    #sortable, #head { list-style-type: none; margin: 0; padding: 0;padding-left: 2.5em; width: 1550px; }
    #sortable li, #head li { margin: 0 3px 3px 3px; font-size: 16px; height: 30px; }
    #sortable li span { position: absolute; margin-left: -1.3em; }
    #buttons { padding-left: 2.5em; padding-top: 1em;    }
    .btn { position: relative; left: 15px; }
    .lblPos1 {  position:relative; left: 43px;}
    .lblPos2 {  position:relative; left: 48px;}
    .lblPos3 {  position:relative; left: 53px;}
    .lblPos4 {  position:relative; left: 60px;}
    .lblPos5 {  position:relative; left: 65px;}
    .lblPos6 {  position:relative; left: 555px;}
    .lblPos12 {  position:relative; left: 570px;}
    .lblPos7 {  position:relative; left: 585px;}
    .lblPos8 {  position:relative; left: 660px;}
    .lblPos9 {  position:relative; left: 725px;}
    .lblPos10 {  position:relative; left: 785px;}
    .lblPos11 { position: relative; left: 855px;}
    .mv {  position:relative; left: 5px; top: 3px;}
    .rmv {  position:relative; left: 10px; top: 3px;}
    /*.pos {  position:relative; left: 20px; width: 50px; text-align: right; background: none; border-style: none; pointer-events: none;}*/
    .pos {  position:relative; left: 20px; width: 50px; text-align: right; background: none; border-style: none; pointer-events: none;}
    .itemNr {  position:relative; left: 23px; width: 65px; text-align: right;}
    /*.description {  position:relative; left: 48px; width: 570px;}*/
    .description {  position:relative; left: 48px; width: 577px;}
    .description2 {  position:relative; left: 25px; width: 577px;}
    .unity {  position:relative; left: 608px; width: 55px}
    .unity2 {  position:relative; left: 28px; width: 50px}
    .number {  position:relative; left: 614px; width: 50px; text-align: right;}
    .number2 {  position:relative; left: 35px; width: 50px; text-align: right;}
    .price {  position:relative; left: 617px; width: 100px; text-align: right;}
    .price2 {  position:relative; left: 37px; width: 100px; text-align: right;}
    .discount {  position:relative; left: 622px; width: 100px;text-align: right;}
    .discount2 {  position:relative; left: 42px; width: 100px;text-align: right;}
    .total {  position:relative; left: 627px; width: 100px; text-align: right;}
    .total2 {  position:relative; left: 47px; width: 100px; text-align: right;}
    .mechanics {  position:relative; left: 632px; width: 140px;}
    .mechanics2 {  position:relative; left: 53px; width: 140px;}
    .status { position: relative; left: 637px; width: 140px;}
    .status2 { position: relative; left: 60px; width: 140px;}
    .posID { position: relative; left: 642px; font-size: 12px; }
    .posID2 { position: relative; left: 67px; font-size: 12px; }
    .partID { position: relative; left: 702px; }
    .partID2 { position: relative; left: 70px; }
    .pos-instruction { position: relative; left: 640px; }
    .pos-instruction2 { position: relative; left: 1500px; top: -24px; }




    #showtable{ width: 85%; font-size: 12px; }