
    textarea{ font-size: 12px; height: 15px;}

    #row_table_id tr, #row_table_id input{
     font-size: 14px;
     text-align: left;
     padding: 0.2px;
     /*background-color: #eeeeee;
     border-bottom-style: solid;
     border-bottom-color: #000000;*/
    }
    /*#row_table_id input{ background-color: #ffffff;}*/

    #row_table_id td{
      border-bottom-style: solid;
      border-bottom-color: #ffffff;
      border-bottom-width: 2px;

    }

    table .table1 {

     font-size: 14px;
     font-weight: bold;


    }

    .table1 td, .table1 th {

     text-align: left;
     padding: 2px;
     font-weight: bold;
     background-color: #eeeeee;
    }

    .table1 td:nth-child(even) {
     font-weight: normal;
     background-color: #ffffff;
    }

     table .sumTable {
     font-size: 14px;
     font-weight: bold;
     height: 40px;

    }

    .sumTable td, .sumTable th {

     text-align: left;
     font-size: 14px;
     padding: 4px;
     font-weight: bold;
     background-color: #eeeeee;
     height: 30px;
    }

    .sumTable td:nth-child(even) {
     font-weight: normal;
     background-color: #ffffff;
    }


    table.tablesorter { width:auto; cursor:pointer; }

    .input_02{width: 248px;}
    .tools.ui-state-highlight.ui-corner-all.lang{ height: 150px; background-color: lightyellow;}




    label{font-size: 12px;}
    div p{font-size: 16px;}
    p label{font-size: 12px; font-weight: bold;}
    p label.val{font-size: 14px; font-weight: normal;}

    #sortable, #head { list-style-type: none; margin: 0; padding: 0;padding-left: 2.5em; width: 1550px; }
    #sortable li, #head li { margin: 0 3px 3px 3px; font-size: 16px; height: 30px; }
    #sortable li span { position: absolute; margin-left: -1.3em; }
    #buttons { padding-left: 2.5em; padding-top: 1em;    }
    .btn { position: relative; left: 15px; }
    .lblPos1 {  position:relative; left: 43px;}
    .lblPos2 {  position:relative; left: 48px;}
    .lblPos3 {  position:relative; left: 53px;}
    .lblPos4 {  position:relative; left: 60px;}
    .lblPos5 {  position:relative; left: 65px;}
    .lblPos6 {  position:relative; left: 555px;}
    .lblPos12 {  position:relative; left: 570px;}
    .lblPos7 {  position:relative; left: 585px;}
    .lblPos8 {  position:relative; left: 660px;}
    .lblPos9 {  position:relative; left: 725px;}
    .lblPos10 {  position:relative; left: 785px;}
    .lblPos11 { position: relative; left: 855px;}
    .mv {  position:relative; left: 5px; top: 3px;}
    .rmv {  position:relative; left: 10px; top: 3px;}
    /*.pos {  position:relative; left: 20px; width: 50px; text-align: right; background: none; border-style: none; pointer-events: none;}*/
    .pos {  position:relative; left: 20px; width: 50px; text-align: right; background: none; border-style: none; pointer-events: none;}
    .itemNr {  position:relative; left: 23px; width: 65px; text-align: right;}
    /*.description {  position:relative; left: 48px; width: 570px;}*/
    .description {  position:relative; left: 48px; width: 577px;}
    .description2 {  position:relative; left: 25px; width: 577px;}
    .unity {  position:relative; left: 608px; width: 55px}
    .unity2 {  position:relative; left: 28px; width: 50px}
    .number {  position:relative; left: 614px; width: 50px; text-align: right;}
    .number2 {  position:relative; left: 35px; width: 50px; text-align: right;}
    .price {  position:relative; left: 617px; width: 100px; text-align: right;}
    .price2 {  position:relative; left: 37px; width: 100px; text-align: right;}
    .discount {  position:relative; left: 622px; width: 100px;text-align: right;}
    .discount2 {  position:relative; left: 42px; width: 100px;text-align: right;}
    .total {  position:relative; left: 627px; width: 100px; text-align: right;}
    .total2 {  position:relative; left: 47px; width: 100px; text-align: right;}
    .mechanics {  position:relative; left: 632px; width: 140px;}
    .mechanics2 {  position:relative; left: 53px; width: 140px;}
    .status { position: relative; left: 637px; width: 140px;}
    .status2 { position: relative; left: 60px; width: 140px;}
    .posID { position: relative; left: 642px; font-size: 12px; }
    .posID2 { position: relative; left: 67px; font-size: 12px; }
    .partID { position: relative; left: 702px; }
    .partID2 { position: relative; left: 70px; }
    .pos-instruction { position: relative; left: 640px; }
    .pos-instruction2 { position: relative; left: 1500px; top: -24px; }

    .instruction div{color: #0000FF; background-color: #FEFE8A; font-weight: bold; }
    .instruction input{color: #0000FF; background-color: #FEFE8A; font-weight: bold; }
    .instruction tr{color: #0000FF; background-color: #FEFE8A; font-weight: bold; }
    .instruction select{color: #0000FF; background-color: #FEFE8A; font-weight: bold; }
    .instruction textarea{color: #0000FF; background-color: #FEFE8A; font-weight: bold; }
    .instruction td input{color: #0000FF; background-color: #FEFE8A; font-weight: bold; }


    #showtable{ width: 85%; font-size: 12px; }